*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, "sans-serif";
}

body{
    background: #0c0c0e;
    color: #fff;
}


.container{
    padding: 0 15px ;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
}
.header{
    position: fixed;
    background-color: inherit;
    top: 0%;
    left: 0%;
    right: 0%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 25px ;
    padding-inline: 50px;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.topbar {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    z-index: 1000;
}

.title {
    font-size: 1.6rem;
    color: #e8c97e;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.navbar a{
    text-transform: uppercase;
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    font-size: 15px;
}



.navbar a:hover{
    color: #fff;
}

#menu-toggle {
    display: none;
}
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
    z-index: 1001;
}

.function {
    color: #e8c97e;
    font-size: 12px;
    position: absolute;
    top: 60px;
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
}


.function ::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #e8c97e;
    vertical-align: middle;
    margin-right: 10px;

}


.portrait {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

span {
    color: #e8c97e;
}

.main__title {
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
    animation: slideright 2s ease-in-out;
}

.description {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.4;
    font-family: "Crimson Pro", serif;
    font-size: 1.15rem;
    animation: slideright 2s ease-in-out;

}

.button {
    display: flex;
    align-items: center;
    gap: 20px;
    animation: slidebottom 2s ease-in-out;
}

.button a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);    
    padding: 10px;
    transition: all 0.3s ;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "JetBrains Mono", monospace;
    font-size: .78rem;
}

.button .active,
.button a:hover{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: #e8c97e;
    padding: 10px;
    transition: all 0.3s ;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


.realize {
    display: flex;
    gap: 40px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    animation: slidebottom 2s ease-in-out;
}

.realize .realize-projet::before{
    content: "4 +";
    display: block;
    color: #e8c97e;
    font-size: 35px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    padding-left: 15px;

}
.realize .realize-year::before{
    content: "6";
    display: block;
    color: #e8c97e;
    font-size: 35px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    padding-left: 40px;

}
.realize .realize-habit::before{
    content: "∞";
    display: block;
    color: #e8c97e;
    font-size: 35px;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    padding-left: 15px;

}

.aside {
    padding: 20px;
}

.banniere {
    position: relative;
    width: 450px;
    height: 450px;
    background-image: url(../images/profil.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 150px;
    background-repeat: no-repeat;
    animation: slideleft 2s ease-in-out;
}

.banniere::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-top: 3px solid #e5a93b;
    border-left: 3px solid #e5a93b;
}

.banniere::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-bottom: 5px solid #e5a93b;
    border-right: 5px solid #e5a93b;
}

.aboutme {
    display: flex;
    gap: 270px;
    padding: 50px 0;
    margin-top: 150px;
}


.contact-desc h2,
.projet h2,
.aboutme-right h2 {
    margin-bottom: 10px;
    font-size: 12px;
    display: inline-block;
    width: 100%;
    color: #e8c97e;
    text-transform: uppercase;
    letter-spacing: 4px;
    white-space: nowrap;
}

.contact-desc strong,
.projet strong,
.aboutme-right strong {
    font-size: 2.5rem;
    margin-top: 10px;
    font-family: "Bebas Neue", sans-serif;
}


.contact-desc p,
.aboutme-left p{
    color: rgba(255, 255, 255, 0.6);
    line-height: 2;
    font-style: italic;
    
}
.aboutme-left p:last-child{
    margin-top: 20px;
}
ul {
    padding: 16px 0;
}

ul li{
    margin: 0 20px;
    padding: 6px 16px;
}

h4 {
    margin: 20px 0;
}
.barre::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 2px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.6);

}

.slogan {
    padding-top: -2px;
}

.projet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 110px 0;
    
}

.link-external a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    transition: all 0.3s ;
    padding: 10px 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}
.link-external a:hover{
    color: #fff;
    border: 1px solid #fff;
}

.card-projet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 180px;

    
}

.card {
    display: flex;
    flex-direction: column;
}

.card-projet .card:nth-child(1) {
    width: 660px;
}

.card-projet .card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    width: 330px;
    height: 330px;
}

.card-projet .card:hover{
    background-color: rgba(255, 255, 255, 0.2);
    h2 {
        color: #e8c97e;
    }
 
}
.card-projet .card h2 {
    font-size: 4rem;
    line-height: 1;
    color: rgba(255, 255, 255, 0.5);
    transition: color .25s;
    margin-bottom: 15px;
}

.card-projet .card span {
    font-size: .65rem;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: #7e9ee8;
    border: 1px solid #7e9ee8;
    padding: .2rem .6rem;
    display: block;
    width: fit-content;
    margin-bottom: 15px;
}

.card-projet .card strong {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.card-projet .card p {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.4;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-projet .card p:hover{
    color: #fff;
}

.card-projet .card a {
    display: block;
    font-size: .72rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #e8c97e;
    text-decoration: none;
    align-items: center;
    margin-top: auto;
}
table td{
    border: 1px solid;
}
.slogan .barre{ 
    color: #fff;
}
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 90px;
}

.contact-desc h2 {
    padding-bottom: 14px;
}

.contact-desc p {
    padding-top: 30px;
    font-style: italic;
    display: block;
    width: 60%;
}

.contact-link strong{
    color: rgba(255, 255, 255, 0.5);
    display: block;

}

.contact-link a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    transition: all 0.3s ;
    font-weight: bold;
}

.contact-link td {
    padding: 10px;
    width: 360px;
    line-height: 1.4;
}

.footer p{
    text-align: center;
    padding: 40px 0;
}


@keyframes slideleft{
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideright{
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slidebottom{
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-width:750px){

    .header {
        padding: 8px 10px;
        margin: 0;
        display: flex;
        gap: 20px;
    }
    .topbar .title {
        font-size: 15px;
    }
    .function {
        font-size: 10px;
    }
    .portrait {
        display: flex;
        flex-direction: column;
    }
    .main{
        width: 100%;
        gap: 35px;
    }
    .main__title {
        font-size: 2rem;
    }
    .button {
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .description {
        text-align: justify;
    }
    .realize {
        gap: 30px;
        justify-content: center;
        margin-bottom: 30px;
    }
    .aboutme {
        width: 100%;
        gap: 30px;
        flex-direction: column;
        margin-top: 50px;
    }
    .contact-desc strong,
    .projet strong,
    .aboutme-right strong {
        font-size: 1.5rem;
    }

    .card:nth-child(1),.card-projet .card{
        width: 100%;
    }
    .menu-icon {
        display: block;
    }
    
    .navbar{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 0;
        background-color: #0c0c0e;
        padding: 25px 0;
        z-index: 999;
        box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
    }

    .navbar a{
        padding: 15px 0;
        display: block;
        width: 100%;
        text-align: center;
    }

    #menu-toggle:checked ~ .navbar {
        display: flex;
    }
    .banniere{
        width: 100%;
        height: 300px;
    }
}